<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            Inicio
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>


    <ion-card>

        <ion-card-content>
            <img src="assets/img/logo.png" alt="" padding>
            <p>
                <strong>YourChef</strong> es una aplicación con más de 100 recetas de distintos países del mundo. Organizadas por dificultad, ingredientes, alérgenos y diferentes tipos de dieta. Con YourChef puedes mejorar tus habilidades culinarias manteniendo
                un registro de las recetas que más te gustan y has cocinado.
            </p>

        </ion-card-content>
        <ion-card-header>
            <ion-card-subtitle *ngIf="!isAuthenticated">
                ¡Regístrate para empezar a recomendarte recetas nuevas!
                <ion-button [routerLink]="['/register']" class="ion-margin-top" expand="block" fill="outline">Registrarse</ion-button>
            </ion-card-subtitle>
        </ion-card-header>
    </ion-card>

    <ion-card>
        <ion-card-content>

            <ion-grid>
                <ion-row class="ion-text-center">
                    <ion-col [routerLink]="['/tabs/recetas', 'Italiana']">
                        <img src="assets/img/flags/italy.png" />
                        <ion-label>Italiana</ion-label>
                    </ion-col>
                    <ion-col [routerLink]="['/tabs/recetas', 'Espanola']">
                        <img src="assets/img/flags/spain.png" />
                        <ion-label>Española</ion-label>
                    </ion-col>
                    <ion-col [routerLink]="['/tabs/recetas', 'Griega']">
                        <img src="assets/img/flags/greece.png" />
                        <ion-label>Griega</ion-label>
                    </ion-col>
                    <ion-col [routerLink]="['/tabs/recetas', 'Mexican']">
                        <img src="assets/img/flags/mexico.png" />
                        <ion-label>Mejicana</ion-label>
                    </ion-col>
                    <ion-col [routerLink]="['/tabs/recetas', 'Alemana']">
                        <img src="assets/img/flags/germany.png" />
                        <ion-label>Alemana</ion-label>
                    </ion-col>
                </ion-row>

                <ion-row class="ion-text-center">
                    <ion-col [routerLink]="['/tabs/recetas', 'USA']">
                        <img src="assets/img/flags/usa.png" />
                        <ion-label>USA</ion-label>
                    </ion-col>
                    <ion-col [routerLink]="['/tabs/recetas', 'Inglesa']">
                        <img src="assets/img/flags/uk.png" />
                        <ion-label>Inglesa</ion-label>
                    </ion-col>
                    <ion-col [routerLink]="['/tabs/recetas', 'India']">
                        <img src="assets/img/flags/india.png" />
                        <ion-label>India</ion-label>
                    </ion-col>
                    <ion-col [routerLink]="['/tabs/recetas', 'China']">
                        <img src="assets/img/flags/china.png" />
                        <ion-label>China</ion-label>
                    </ion-col>
                    <ion-col [routerLink]="['/tabs/recetas', 'Tailandesa']">
                        <img src="assets/img/flags/thai.png" />
                        <ion-label>Tailandesa</ion-label>
                    </ion-col>
                </ion-row>
            </ion-grid>

        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-content>
            <ion-avatar class="ion-float-left ion-margin-end">
                <img src="assets/img/fdi.png" alt="">
            </ion-avatar>
            Creado por David Arroyo, Adrián Camacho y Javier Picatoste en la Facultad de Informática de la UCM
        </ion-card-content>
    </ion-card>
</ion-content>