<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            Inicio
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>


    <ion-card>

        <ion-card-content>
            <img src="assets/img/logo.png" alt="" padding>
            <p>
                <strong>YourChef</strong> es una aplicación con más de 100 recetas de distintos países del mundo. Organizadas por dificultad, ingredientes, alérgenos y diferentes tipos de dieta. Con YourChef puedes mejorar tus habilidades culinarias manteniendo
                un registro de las recetas que más te gustan y has cocinado.
            </p>
        </ion-card-content>
        <ion-card-header>
            <ion-card-subtitle>¡Regístrate para empezar a recomendarte recetas nuevas!</ion-card-subtitle>
        </ion-card-header>
    </ion-card>
</ion-content>