<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="end">
            <ion-button color="light">Editar</ion-button>
            <ion-button (click)="logout()" color="light">Cerrar sesión</ion-button>
            <ion-button color="light">
                <ion-icon name="settings"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            Perfil
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="user">

    <ion-grid class="profile">
        <ion-row justify-content-center>
            <ion-col align-self-center>
                <div class="ion-padding-top" text-center>
                    <img (click)="changeImgProfile()" [src]="profileImg" width="100" alt="">
                </div>
            </ion-col>
        </ion-row>
        <ion-row justify-content-center>
            <ion-col align-self-center>
                <div text-center>
                    <ion-text color="light">
                        <h2>{{user.name}}</h2>
                        <p>{{user.email}}</p>
                    </ion-text>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>

    <!-- Icon top -->
    <ion-segment [(ngModel)]="sections" color="primary">
        <ion-segment-button value="favoritas" checked>
            <ion-label>Favoritas</ion-label>
            <ion-icon name="heart"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="recomendaciones">
            <ion-label>Recomendaciones</ion-label>
            <ion-icon name="bulb"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="cocinadas">
            <ion-label>Cocinadas</ion-label>
            <ion-icon name="restaurant"></ion-icon>
        </ion-segment-button>
    </ion-segment>

    <div [ngSwitch]="sections">
        <!-- List of Sliding Items -->
        <ion-list *ngSwitchCase="'favoritas'">
            <ion-list-header>
                <ion-label>Recetas favoritas</ion-label>
            </ion-list-header>
            <ion-item-sliding *ngFor="let r of user.favRecipes">
                <ion-item (click)="goToReceta(r.id)">
                    <ion-label>{{ r.name }}</ion-label>
                </ion-item>
                <ion-item-options side="end">
                    <ion-item-option (click)="removeFavourite(r.id, r.name)" color="danger">Eliminar</ion-item-option>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
    </div>
</ion-content>