.profile {
    background-color: var(--ion-color-primary, #457b9d);
}

.profile-avatar {
    border-radius: 10%;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.500);
    border-width: 3px;
    box-shadow: 2px 2px 18px rgba(0, 0, 0, 0.600);
    background-color: white;
}

ion-card {
    position: relative;
    text-align: center;
}

.card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
    box-shadow: inset 0 0 0 100vmax rgb(0, 0, 0);
    padding-bottom: 20px;
}

.card-subtitle {
    font-size: 1.2em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
    box-shadow: inset 0 0 0 100vmax rgb(0, 0, 0);
}