<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button (click)="back()">
                <ion-icon name="arrow-round-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Recetas cocinadas</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-list-header>
            <ion-label>Recetas {{categoria}}s</ion-label>
        </ion-list-header>
        <ion-item-sliding *ngFor="let r of cocinadas">
            <ion-item (click)="goToReceta(r.id)">
                <ion-thumbnail item-start class="ion-margin-end">
                    <ion-img src="assets/img/recetas/{{r.id}}.jpg"></ion-img>
                </ion-thumbnail>
                <ion-label>
                    <h2>{{r.name}}</h2>
                    <p>Valoración</p>

                    <p *ngIf="r.valoration == 'excelente'">
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                    </p>

                    <p *ngIf="r.valoration == 'muybuena'">
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star-outline"></ion-icon>
                    </p>

                    <p *ngIf="r.valoration == 'buena'">
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star-outline"></ion-icon>
                        <ion-icon name="star-outline"></ion-icon>
                    </p>

                    <p *ngIf="r.valoration == 'regular'">
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star-outline"></ion-icon>
                        <ion-icon name="star-outline"></ion-icon>
                        <ion-icon name="star-outline"></ion-icon>
                    </p>

                    <p *ngIf="r.valoration == 'mal'">
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star-outline"></ion-icon>
                        <ion-icon name="star-outline"></ion-icon>
                        <ion-icon name="star-outline"></ion-icon>
                        <ion-icon name="star-outline"></ion-icon>
                    </p>

                </ion-label>
            </ion-item>
            <ion-item-options side="end">
                <ion-item-option (click)="removeCocinada(r.id, r.name, r.valoration, r.tags)" color="danger">Eliminar</ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>